<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kataba.md.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19471F011F0A85B2000DDF13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19471F151F0A85B3000DDF13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19471F201F0A85B3000DDF13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
